{% extends "layout.html" %}
{% block content %}
	<div class="project_container">
		<a href="projects/stockticker">
			<img class="project_img" src="https://p0.pikrepo.com/preview/859/996/increasing-graph-indicates-growing-upward-and-forecast.jpg" href="projects/stockticker">
			<h1 class="project_header">Stockticker</h1>
		
			<p class="project_text">
				This tool can assist you in evaluating your total yield in crypto, bonds, stocks, raw materials, etc.<newline></newline>
				The data is collected using Yahoo Finance API. 
			</p>
		</a>		
	</div>
{% endblock content %}

